.publish {
  font-size: 14px;
  header,
  main {
    background-color: white;
    padding: 4vw;
  }
  header {
    display: flex;
    height: 50px;
    align-items: center;
    span {
      font-weight: 700;
    }
    .right {
      position: absolute;
      right: 4vw;
      .right-button {
        margin-left: 8px;
        border-radius: 15px;
        font-size: 12px;
        font-weight: 400;
        background-color: rgb(255, 100, 53);
        color: white;
        height: 28px;
        line-height: 10px;
      }
    }
  }
  main {
    textarea {
      resize: none;
    }
  }
}
